:root {

    --bright-yellow-crayola: hsl(36, 94%, 57%);
    --portland-orange: hsl(15, 84%, 57%);
    --battleship-gray: hsl(0, 0%, 53%);
    --silver-chalice: hsl(0, 0%, 70%);
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(208, 7%, 46%);
    --raisin-black: hsl(228, 6%, 17%);
    --eerie-black: hsl(210, 3%, 13%);
    --bittersweet: hsl(9, 96%, 69%);
    --light-gray: hsl(0, 0%, 80%);
    --platinum: hsl(0, 0%, 91%);
    --amber: hsl(45, 100%, 51%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(220, 2%, 24%);
    --ff-bangers: 'Bangers', cursive;
    --ff-carter_one: 'Carter One', cursive;
    --ff-nunito_sans: 'Nunito Sans', sans-serif;
    --fs-1: 6.5rem;
    --fs-2: 3.2rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.5rem;
    --fs-7: 1.4rem;
    --fs-8: 1rem;
    --fw-400: 400;
    --fw-700: 700;
    --radius-10: 10px;  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
    
  }

html{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
 
    background-image: url('../../assets/images/bg-cadastro.png');
    background-size: cover;
    background-repeat: no-repeat;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

section{
    width: 40%;
    padding: 45px;
    margin: 0 auto;
    height: 80%;
}

section form{
    display: flex;
    justify-content: start;
    padding: 20px;
    box-shadow: 1px 1px 3px 1px black;
    border-radius: 5px;
}

form ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form ul li{
    display: flex;
    justify-content: center;
    align-items: start;
}


form ul li i{
    margin-right: 10px;
}

li.outros{
    display: flex;
    flex-direction: column;

    margin: 10px;
    margin-left:0px;

}

form ul li input{
    padding: 7px;

    margin: 10px;
    width: 96%;

}

input[type=date]{
    width: 200px;
}

li.foto-nome{
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

div.address{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



