@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root {

    --bright-yellow-crayola: hsl(36, 94%, 57%);
    --portland-orange: hsl(15, 84%, 57%);
    --battleship-gray: hsl(0, 0%, 53%);
    --silver-chalice: hsl(0, 0%, 70%);
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(208, 7%, 46%);
    --raisin-black: hsl(228, 6%, 17%);
    --eerie-black: hsl(210, 3%, 13%);
    --bittersweet: hsl(9, 96%, 69%);
    --light-gray: hsl(0, 0%, 80%);
    --platinum: hsl(0, 0%, 91%);
    --amber: hsl(45, 100%, 51%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(220, 2%, 24%);
    --ff-bangers: 'Bangers', cursive;
    --ff-carter_one: 'Carter One', cursive;
    --ff-nunito_sans: 'Nunito Sans', sans-serif;
    --fs-1: 6.5rem;
    --fs-2: 3.2rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.5rem;
    --fs-7: 1.4rem;
    --fs-8: 1rem;
    --fw-400: 400;
    --fw-700: 700;
    --radius-10: 10px;  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }
  
  * {
      box-sizing: border-box;
  }

  body {
      font-family: Arial, sans-serif;
      background-size: 100%;
      background-repeat: no-repeat;
      padding: 30px;
      background-image: url('../../assets/images/fundoUser.jpg');

      display: flex;
      justify-content: center;
      align-items: center;

}

  .profile{

      width: 50%;
      height: 600px;
      

      display: flex;
      justify-content: space-evenly;
      padding: 10px;
  }

.item1{
    cursor: pointer;

 }
.item2{

}
.item3{
}
.item4{

}

.profile {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.profile {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border: 4px solid black;
    box-shadow: 11px 7px 24px 0px rgba(0,0,0,0.43);
}

.profile > div {
    flex-grow: 1;
    cursor: pointer;
    border: 1px solid #000;
    transition: all 0.3s ease;
}

.profile > div.expanded {
    flex-grow: 3;
    width: 100%;
    background-color: transparent;
}

.profile div span{
    border: 1px solid black;
    background-color: #fc4c35;
    color: #FFF;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.titulo{
    background-color: #fc4c35;
    width: 100%;
}


h1{
    background-color: #fc4c35;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    font-weight: 700;
}
.dados{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    
}
.dados span{
    margin-bottom: 10px;
}