


header{
    background-color:  hsl(36, 94%, 57%);
    width: 100%;
    height: 9vh;
    
}
header a{
    margin-left: 20px;
    margin-top: 15px;
}
.carousel{
    margin: auto;
    width: 50%;
    justify-content: center;
    
}
.carousel-inner .carousel-item{
    width: 100%;
    height: 50vh;
}
.nav{
    width: 50%;
    
}

