@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}



:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#1e1c2a;
}
body{
    color: var(--dark);
    background: var(--white);
}
a{
    text-decoration: none;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
    z-index: 1;
    
    
}
.navigation .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}


.logo{
    color: var(--dark);
    font-family: 'Bangers';
}

.logo span{
    color: var(--dark);
    font-family: 'Bangers';
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s;
    text-shadow: 0.5px 0px 0.5px black
}
.navigation ul li a:hover{
    color: var(--red);
}
/* CORREÇÃO DA MARGEM FANTASMA NA BARRA DE NAVEGAÇÃO*/
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0rem;
}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}
.home{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background: #fc4c35;
}
.home-img img{
    width: 100%;
    margin-top: 60px;
}
.img-none{
    display: none;
    
    height: 350px;
}
.carousel {
    max-width: 1000px;
    margin: auto;
    height: 30%;
    padding-bottom: 100px;
    padding-top: 100px;
   
}
.carousel-item img{
    height: 80vh;
    border-radius: 8%;
}
.content{
    margin: auto;
    width: 90%;
    padding-top: 35px;
    
    
}
.content h3{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom:30px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content span{
    color: #fc4c35;
    
}
section div ul{
    justify-content: center; 
    
    
}
section div ul li{
    margin: 10px;
}

.card-body button{
  
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
   
    border: 0;
    transition: box-shadow .2s;
}

.card-body button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
.card-body button a{
    color: #fff;
}
.card-img-top{
    width: 250px;
    
}
.card-prod div button:hover{
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
/*produtos*/
.has-scrollbar {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    padding-block-end: 20px;
    margin-block-end: 50px;
}
.has-scrollbar::-webkit-scrollbar { height: 10px; }

.category-card:is(:hover, :focus-within) .img-cover { transform: scale(1.08); }
.category-card img{
    margin: auto;
}
/**/
.card-prod{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.card-prod > div{
    flex: 1 1 250px;
    margin: 10px;
    border: 1px solid rgba(124, 123, 123, 0.692);
    border-radius: 2px;
    padding-bottom: 15px;
    
}
.card-prod div img{
    width: 100%;
}
.card-prod div img:hover{
    cursor: pointer;
}
.card-prod div .img1{
    max-width: 400px;
    justify-content: center;
    margin: auto;
    display: flex;
}
.card-prod div p{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px 20px 0 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    
}
.card-prod div button{
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    margin:0 auto;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 200px;
   
    border: 0;
    transition: box-shadow .2s;
}
a{
    color: #fff;
}
.anuncio{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.anuncio img{
    width: 100%;
    height: 70vh;
}





.footer {
    background-color: hsl(228, 6%, 17%);
    color:  hsl(0, 0%, 53%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.footer-top {
    padding-block-start: 100px;
    border-block-end: 1px solid hsl(220, 2%, 24%);
}

.footer-top .container {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer .logo {
    color:  hsl(0, 0%, 100%);
    margin-block-end: 10px;
}

.footer-text {
    font-size: 1rem;
    margin-block-end: 25px;
}

.footer-text .link {
    display: inline-block;
    color: hsl(15, 84%, 57%);
}
.contact-item {
    margin-block-end: 15px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-item ion-icon {
    flex-shrink: 0;
    font-size: 22px;
    color: hsl(15, 84%, 57%);
}

.social-list {
    display: flex;
    gap: 10px;
}

.social-link {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    padding: 12px;
    border-radius: 50%;
    transition:  0.25s ease;
}

.social-link:is(:hover, :focus) {
    background-color: hsl(15, 84%, 57%);
    color: hsl(0, 0%, 100%);
}

.footer-list-title {
    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
    font-weight: 700;
    padding-block: 10px;
}

.footer-link {
    padding-block: 4px;
    transition:  0.25s ease;
}
.footer-link:is(:hover, :focus) { color: hsl(15, 84%, 57%); }

.footer-bottom { padding-block: 20px; }

.copyright { margin-block-end: 10px; }

.copyright-link { display: inline-block; }

.footer-bottom .img {
width: 100%;
max-width: max-content;
}  
.back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: hsl(15, 84%, 57%);
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: var(--shadow-2);
    opacity: 0;
    visibility: hidden;
    transition:  0.25s ease;
    z-index: 4;
}

.back-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
} 
 footer .logo {
    font-family:'Carter One', cursive;
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
  } 

@media (max-width:1300px){
    .has-scrollbar {
        display: grid;
       grid-template-columns: 1fr 1fr 1fr;
        
    }
    .home{
        height: 700px;
    }
}
@media (max-width: 1000px){
    .has-scrollbar{
        grid-template-columns: 1fr 1fr ;
    }
    .footer-top .container{
        display: block;
        max-width: 100%;
    }
}
@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 15px 0;
        
    }
    /*main*/
    .home{
        padding: 100px 2%;
        
        text-align: center;
        overflow: hidden;
        gap: 1rem;
 
     
    }
    .home .text-h4{
        font-size: 21px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
        
    }
    .carousel{
        width: 80%;
        margin: auto;
        
    }
    .img{
        display: none;
    }
    .img-none{
        display: block;
    }
    .carousel-item img{
        height: 500px;
        
    }
    .content{
        width: 95%;
    }
  
  
}
@media(max-width: 560px){
    .has-scrollbar{
        display: block;
    }
    .home{
        flex-direction: column;
        height: 800px;
        
    }
   
}
@media (max-width:485px){
    .carousel{
        width: 98%;
    }
    .content h3{
        font-size: 2rem;
    }
    section div ul{
        display: block;
    }
    .has-scrollbar{
        display: block;
        padding-left: 0px;
    }
    .anuncio img{
        width: 100%;
        height: 40vh;
    }
    
 
}




